footer {
  height: 10vh;
}

h2 {
  text-align: center;
}

.about_me_section {
  height: 75vh;
}

.about_me_picture {
  border-radius: 100%;
  height: auto;
  width: 70%;
}

.caption {
  text-align: center;
}

.jumbotron {
  background-image: url("http://www.seriouseats.com/images/20070401istockpbjbeauty.jpg");
  background-size: cover;
  height: 100vh;
}

.navbar {
  margin-bottom: 0;
}

.skills_image {
  width: 50%;
  height: auto;
}
